<!DOCTYPE html>
<html lang="en">
<%- include('./layouts/Header')%>

    <body>
        <div class="boxed_wrapper">
            <div class="preloader"></div>
            <%- include('./layouts/Navigation')%>

                <!--Start breadcrumb area-->
                <section class="breadcrumb-area"
                    style="background-image: url(/frontend/uploads/services/banner_2.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="inner-content clearfix">
                                    <div class="title">
                                        <h1>Privacy Policy</h1>
                                    </div>
                                    <div class="breadcrumb-menu float-right">
                                        <ul class="clearfix">
                                            <li><a href="/">Home</a></li>
                                            <li class="active">Terms</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End breadcrumb area-->

                <!--Start Company Overview Area-->
                <section class="company-overview-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="intro-box clearfix">
                                    <div class="sec-title">
                                        <p>Company Terms</p>
                                        <div class="title">Visit Us With<br />
                                            <span>ENVIRONMENTAL POLICY</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            The key to the company's success is the maintenance of close working
                                            relationship with the clients through ensuring the best possible solutions
                                            to their needs;
                                            To establish and maintain a thoroughknowledge and understanding of client's
                                            objective and help them maximize the benefits.
                                            As we did from week one, we carry-out to provide cutting edge electrical
                                            solutions to customers and major client of Lao PDR
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                                <div class="single-service-top">
                                    <div class="text">
                                        <h2>Privacy Policy</h2>
                                        <div class="inner">
                                            <p>This policy explains what information we are collection in backend, When
                                                you used to visit frontend we are not
                                                store any of your data. And we are used to authorization for admin or
                                                some of super user. the Site, Service, mobile,
                                                application, products, project contents and ("Service"), It also has
                                                information about how we store, use transfer and delete that
                                                information.
                                                Our aim is not just simply with privacy law, It's to make sure your
                                                safty from our Service.</p>
                                        </div>
                                    </div>
                                    <div class="single-service-image-box">
                                        <img src="/frontend/uploads/electrical/electrict.jpg" alt="Awesome Image">
                                    </div>

                                    <div class="text">
                                        <h4>Information We collect & How we Use it</h4>
                                        <div class="inner">
                                            <p>
                                                We use some product data to public and create ads for our Service, but not user data,
                                                So, we don't collect any of use data on order to advertise to you. tracking we do at 3s-laos
                                                to make our products work as well as possible. <br>
                                                In order to give you the best possible experience to used to visit our service and our products
                                                information from your interactions with our network, Some this information, you actively tell us
                                                (such as your email address, which we stored tracking your account or communicate with you only).
                                                Other information, we are collect based on action you while using our web service such as what 
                                                page you access your interaction with our web service features mind bee content, this information
                                                includes record of those interactons, your internet Protocol address, informationabout your device
                                                (such as device, browser type or OS type) and referral information we do not store and used. 
                                            </p>
                                        </div>

                                        <p><strong>We use this information to:</strong></p>
                                        <p>- Provide, test, improve promote and products or service contents</p>
                                        <p>- fight spam and other form of abuse</p>
                                        <p>- intergate aggregate, non-identitying information about how people used to visit our web service</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End Company Overview Area-->

                <%- include('./layouts/Footer')%>
        </div>

        <div class="scroll-to-top scroll-to-target" data-target="html">
            <span class="fa fa-angle-up"></span>
        </div>

        <%- include('./layouts/Script')%>
    </body>

    <!-- about 06:46:46 GMT -->

</html>