<!-- Start Top Bar style1 -->
<section class="top-bar-style1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="top-style1 clearfix">
          <p>
            ບໍລິສັດອອກແບບການກໍ່ສ້າງ, ໂຄງການໄຟຟ້າ, ກະສິກຳອິນຊີ ແລະ ອື່ນໆ...<a href="/contact">ຕິດຕໍ່ງານກັບພວກເຮົາໄດ້ທີ</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Top Bar style1 -->

<!--Start Main Header-->
<header class="main-header header-style1">
  <div class="header-upper-style1">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="inner-container clearfix">
            <div class="logo-box-style1 float-left">
              <a href="/">
                <img src="/frontend/images/3s_logo.png" alt="Awesome Logo" />
              </a>
            </div>
            <div class="main-menu-box float-left">
              <nav class="main-menu clearfix">
                <div class="navbar-header clearfix">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="navbar-collapse collapse clearfix">
                  <ul class="navigation clearfix">
                    <li class="dropdown"><a href="/">
                      <i class="fa fa-home"></i>Home
                    </a></li>

                    <li class="dropdown">
                      <a href="#">
                        <i class="fa fa-user"></i>
                        Profile
                      </a>
                      <ul>
                        <li><a href="/org">Our Firm</a></li>
                        <li><a href="/teams">Our Team</a></li>
                        <li><a href="/clientpro">Clients/Projects</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a href="#">
                        <i class="fa fa-gear"></i>
                        Services
                      </a>
                      <ul>
                        <li><a href="/services">All Service</a></li>
                        <li><a href="/electrical-consult">Electrical</a></li>
                        <li><a href="#">SDC Construction</a></li>
                        <!-- <li><a href="#">3S Consulting</a></li> -->
                        <li><a href="/agriculture">Agriculture</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">
                        <i class="fa fa-inbox"></i>
                        Productions
                      </a>
                      <ul>
                        <li><a href="/products">Our Products</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">
                        <i class="fa fa-user-plus"></i>
                        Career
                      </a>
                      <ul>
                        <li><a href="/jobs">Job Vacancies/Internship</a></li>
                        <li><a href="/volunteers">CSR</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">
                        <i class="fa fa-question"></i>
                        Help</a>
                      <ul>
                        <li><a href="/about">About Company</a></li>
                        <li><a href="/contact">Contact</a></li> 
                        <li><a href="/term">Privacy Term</a></li>                        
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
              <div class="mainmenu-right">
                <div class="outer-search-box">
                  <div class="seach-toggle"><i class="fa fa-search"></i></div>
                  <ul class="search-box">
                    <li>
                      <form method="post" action="#">
                        <div class="form-group">
                          <input type="search" name="search" placeholder="Search Here" required />
                          <button type="submit" disabled>
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </form>
                    </li>
                  </ul>
                </div>
                <div class="cart-box">
                  <a href="/auth/signin"><span class="icon-plus"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-lower-style1">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="inner-content clearfix">
            <ul class="header-contact-info float-left">
              <li>
                <div class="single-item">
                  <div class="icon">
                    <span class="icon-maps-and-location"></span>
                  </div>
                  <div class="text">
                    <h3>Vientiane Capital, LAOS</h3>
                    <p>Nongphaya Village, Xaythany District</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="single-item">
                  <div class="icon">
                    <span class="icon-phone"></span>
                  </div>
                  <div class="text">
                    <h3>020-2244-7776</h3>
                    <p>020 9911 4323</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="single-item">
                  <div class="icon">
                    <span class="icon-mail"></span>
                  </div>
                  <div class="text">
                    <h3>info@3s-laos.com</h3>
                    <p>Mon - Friday: 8.30 to 17.30</p>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="header-social-links-style1 float-right">
              <li class="wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                <a href="https://www.facebook.com/3selectrical/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li class="wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
              </li>
              <li class="wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--End Main Header-->