<div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
    <div class="single-service-sidebar">
        <!--Start Single sidebar-->
        <div class="single-sidebar">
            <ul class="service-pages">
                <li class="active">
                    <a href="/services">
                        <div class="title">
                            <h3 class="static">All Services</h3>
                            <div class="overlay-title">
                                <h3>All Services</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/electrical-consult">
                        <div class="title">
                            <h3 class="static">Electrict Consulting</h3>
                            <div class="overlay-title">
                                <h3>Electrict Consulting</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="title">
                            <h3 class="static">Construction</h3>
                            <div class="overlay-title">
                                <h3>Construction</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="title">
                            <h3 class="static">Agriculture</h3>
                            <div class="overlay-title">
                                <h3>Agriculture</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="title">
                            <h3 class="static">Products Energy</h3>
                            <div class="overlay-title">
                                <h3>Products Energy</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="title">
                            <h3 class="static">Organize Partners</h3>
                            <div class="overlay-title">
                                <h3>Organize Partners</h3>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
        <!--End Single sidebar-->
        <div class="sidebar-contact-box text-center">
            <div class="inner-content">
                <div class="icon-holder">
                    <span class="icon-support1"></span>
                </div>
                <h3>Consult with expert &<br> Start today</h3>
                <div class="bottom-box">
                    <h2>Tel: (+856)20-2244-7776</h2>
                    <span>Email: khampasong@3s-laos.com</span>
                </div>
                <div class="button">
                    <a class="btn-one wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms" href="#">Make
                        Appointment
                        <span class="flaticon-next"></span>
                    </a>
                </div>
            </div>
        </div>
        <!--Start Single sidebar-->
        <div class="single-sidebar">
            <ul class="service-pack-download">
                <li class="clearfix">
                    <div class="title-holder">
                        <a href="#">Download.PDF <span>(150kb)</span></a>
                    </div>
                    <div class="icon-holder">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </div>
                </li>
            </ul>
        </div>
        <!--End Single sidebar-->
    </div>
</div>